body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'TradeGothic';
  src: local('TradeGothic'), url(./fonts/TradeGothicLT-BoldCondTwenty.woff.ttf) format('truetype');
}

@font-face {
  font-family: 'Averta';
  src: local('Averta'), url(./fonts/AvertaDemoPE-ExtraboldItalic.otf) format('truetype');
}

@font-face {
  font-family: 'AvertaR';
  src: local('AvertaR'), url(./fonts/AvertaDemoPE-Regular.otf) format('truetype');
}

@font-face {
  font-family: 'gilroy';
  src: local('gilroy'), url(./fonts/gilroy-light.otf) format('truetype');
}
